<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Animales Prehistoricos</string>
	<string>Reptiles</string>
	<string>Anfibios</string>
	<string>Pajaros</string>
	<string>Insectos</string>
	<string>Peces</string>
	<string>Invertebrados</string>
	<string>Mamimferos</string>
</array>
</plist>
